
<footer id="footer">
    <div class="container">
      <div class="footer-menu-list">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Shoptrendz</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="about.html">MEN</a>
                </li>
                <li class="menu-item">
                  <a href="blog.html">WOMEN</a>
                </li>
                <li class="menu-item">
                    <a href="blog.html">KIDS</a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Customer Service</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="faqs.html">FAQ</a>
                </li>
                <li class="menu-item">
                  <a href="contact.html">Contact</a>
                </li>
                <li class="menu-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="menu-item">
                  <a href="#">Returns & Refunds</a>
                </li>
                <li class="menu-item">
                  <a href="#">Cookie Guidelines</a>
                </li>
                <li class="menu-item">
                  <a href="#">Delivery Information</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Contact Us</h5>
              <p>Do you have any questions or suggestions? <a href="#" class="email">ourservices@shoptrendz.com</a>
              </p>
              <p>Do you need assistance? Give us a call. <br>
                <strong>+57 444 11 00 35</strong>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Experience Shoptrendz App On Mobile </h5>
              <li><img src="/images/google-play.jpg"></li>
              <li><img src="/images/app-store.jpg"></li>
              <div class="social-links">
                <ul class="d-flex list-unstyled">
                  <li>
                    <a href="#">
                      <i class="icon icon-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon icon-youtube-play"></i>
                    </a>
                  </li>
                
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </footer>

  <div id="footer-bottom">
    <div class="container">
      <div class="d-flex align-items-center flex-wrap justify-content-between">
        <div class="copyright">
          <p>© 2024 www.shoptrendz.All rights reserved</p>
        </div>
        
      </div>
    </div>
  </div>