


<div class="borderNav">
  <div class="container">
      <div class="row justify-content-between">
          <div class="col-lg-5">
              <div class="intro-excerpt">
                  
              </div>
          </div>
          <div class="col-lg-7">
              
          </div>
      </div>
  </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4">Add Address</h6>
          <form action="" method="post">
           
            <div class="mb-3">
              <label for="fullname" class="form-label"
                >Fullname</label
              >
              <input
                type="text"
                class="form-control"
                id="address-name"
                name="fullname"
                required
              />
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label"
                >Mobile</label
              >
              <input
                type="number"
                class="form-control"
                id="address-mob"
                name="mobile"
                required
              />
            </div>
            <div class="mb-3">
              <label for="pincode" class="form-label"
                >Pincode</label
              >
              <input
                type="number"
                class="form-control"
                id="address-pin"
                name="pincode"
                required
              />
            </div>
            <div class="mb-3">
              <label for="street" class="form-label"
                >Street</label
              >
              <input
                type="text"
                class="form-control"
                name="street"
                id="address-str"
                required
              />
            </div>
            <div class="mb-3">
                <label for="city" class="form-label"
                  >City</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="city"
                  id="address-cit"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="state" class="form-label"
                  >State</label
                >
                <select
                  class="form-control"
                  name="state"
                  required
                  id="address-sta"
                ><option value="Kerala">Kerala</option>
                <option value="Thamilnadu">Thamilnadu</option>
                <option value="karnadaka">Karnadaka</option>
                <option value="Default">Maharashtra</option>
                <option value="Default">Chhattisgarh</option>
                <option value="Default">Bihar</option>
                <option value="Default">Goa</option>
                <option value="Default">Punjab</option>
                <option value="Default">Mizoram</option>
                <option value="Default">Andhra Pradesh</option>
                <option value="Default">West Bengal</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="country" class="form-label"
                  >Country</label
                >
                <input
                  type="text"
                  
                />
                <select class="form-control"
                name="country"
                id="address-cou"
                required>
                <option>India</option>
                </select>
              </div>
  
            <button type="submit" class="btn btn-primary">save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
