<!-- Cancel Order Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="orderIdInput" value="" />
          <div class="mb-3">
            <label for="cancelReason" class="form-label">Reason for Cancellation</label>
            <select class="form-select" id="cancelReason">
              <option value="Wrong item">Wrong item</option>
              <option value="Item not as described">Item not as described</option>
              <option value="Better price available">Better price available</option>
              <option value="Changed my mind">Changed my mind</option>
              <option value="Other">Other</option>
            </select>
            <textarea id="cancelReasonOther" class="form-control mt-2" placeholder="Please specify if 'Other'" style="display:none;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" onclick="confirmCancelOrder()">Confirm Cancellation</button>
        </div>
      </div>
    </div>
  </div>
  