<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="User/assets/css/login.css">
    <link rel="stylesheet" href="User/assets/css/msg-boxes.css">
    
   
</head>
<body>
    <div class="page-wrapper">
        <div class="login-div">
            <h2 class="heading">Forget Password</h2>
            <form action="" method="post" id="login-form">
                <div class="input-field form-child">
                    <label for="password">Password: </label>
                    <input type="password" placeholder="password" name="password" required placeholde="Enter password">
                    <input type="hidden" name="user_id" value="<%= user_id%>">
                </div>
                
                <div class="input-field form-child button-div">
                    <button id="submit-button"> Reset Password</button>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>
