<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="User/assets/css/signup.css">
    <link rel="stylesheet" href="User/assets/css/msg-boxes.css">
    <!-- Include necessary scripts -->
    
</head>
<body>
    <div class="page-wrapper">
        <div class="signup-div">
            <h2 class="heading">Signup</h2>
            <form action="" method="post" id="signup">
                <div class="input-field msg-box">
                    <p class="msg-para"></p>
                </div>
                <div class="input-field form-child">
                    <label for="username">UserName : </label>
                    <input type="text" placeholder="your name" name="username">
                </div>
                <div class="input-field form-child">
                    <label for="email">Email : </label>
                    <input type="email" placeholder="abc@gmail.com" name="email">
                </div>
                <div class="input-field form-child">
                    <label for="mobile">Mobile No : </label>
                    <input type="text" placeholder="98787687" name="mobile">
                </div>
                <div class="input-field form-child">
                    <label for="password">Password : </label>
                    <input type="password" placeholder="password" name="password" id="password">
                </div>
                <div class="input-field form-child">
                    <label for="passwordRe">Confirm Password : </label>
                    <input type="password" placeholder="password again" name="passwordRe">
                </div>
                <div class="login-link form-child">
                    <p><a href="/login">Already have an Account? Login</a></p>
                </div>
                <div class="button-div form-child">
                    <button id="submit-button">Submit</button>
                </div>
            </form>
            <% if (typeof message !== 'undefined') { %>
                <p style="color: green;"><%= message %> </p> 
            <% } %>
        </div>
    </div>
</body>
</html>
